.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.contact h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.contact p {
    font-size: 1rem;
    margin: 1rem 0;
}

.contact a {
    text-decoration: underline;
    color: #333;
}

.contact h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.contact ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact ul li {
    margin: 0.5rem 0;
}