.navbar {
    background-color: #333;
    padding: 1rem;
}

.navbar .navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar .navList .navItem {
  margin-right: 1rem;
}

.navbar .navList .navItem .navLink {
  color: white;
  text-decoration: none;
}

.navbar .navList .navItem .navLink:hover {
  text-decoration: underline;
}